.fotoPerfil{
    margin-bottom: 50px;
    text-align: center;
    // display: flex;
    // justify-content: flex-end;
    float: right;
}

.formDatos{
    width: 70%;
}

.botonCerrarSesion{
    --background: var(--ion-color-light);
    margin-right: 16px;
}