<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot='end' text="Atrás">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-back-button>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding' [fullscreen]="true">

  <div>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      
      <ion-input label="Usuario: " labelPlacement="floating" formControlName="usuario"></ion-input>
      <ion-input label="Clave: " labelPlacement="floating" type="password" formControlName="clave">
        <ion-input-password-toggle slot="end" color="medium"></ion-input-password-toggle>
      </ion-input>
      <ion-input label="Email: " labelPlacement="floating" formControlName="email"></ion-input>
      <ion-input label="Nombre: " labelPlacement="floating" formControlName="nombre"></ion-input>
      <ion-input label="Apellido: " labelPlacement="floating" formControlName="apellido"></ion-input>
      <ion-input label="DNI: " labelPlacement="floating" formControlName="dni"></ion-input>

      <ion-button class="botonRegistro" type="submit" [disabled]="registroForm.invalid">Registrarme</ion-button>

    </form>

    
  </div>

</ion-content>